<% include partials/header %>
    
    <h1>This is Node Application</h1>

    <% if(errors){ %>
    
    <% errors.forEach(function(error){ %>
    
        <ul>
            <li><%= error.msg %></li>
        </ul>
    
    <%    })  %>
    
    <%    } %>

    <form method="POST" action="/users/add">
        <label>First Name</label><br>
        <input type="text" name="first_name"><br>
        <label>Last name</label><br>
        <input type="text" name="last_name"><br>
        <label>Email</label><br>
        <input type="text" name="email"><br>
        <input type="submit" value="Submit">
    </form>

    <% people.forEach(function(person){ %>
    
        <ul>
            <li><%= person.first_name %> <%= person.last_name %></li>
        </ul>
    
    <%    }) %>
 <% include partials/footer %>  